@import '../../style/animation.scss';
@import '../../style/colors.scss';

.burger-container {
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    align-content: center;
    background-color: $blue;
    justify-content: flex-start;
}

.burger-container__wrapper-button {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    &:hover .close {
        box-shadow: 0 -6px $white, 0 6px $white;
    }
}

.burger-container__button {
    height: 3px;
    width:  70%;
    transition: 0.3s;
    position: relative;
    background: $white;
}

.close {
    box-shadow: 0 -5px $white, 0 5px $white;
}

.open {
    position: relative;
    transform: rotate(45deg);

    &:before {
        left: 5px;
        height: 3px;
        width: 100%;
        content: "";
        display: block;
        position: absolute;
        transform: rotate(90deg);
        box-shadow: 0 5px $white;
    }
}

header {
    background-color: $blue;
    grid-area: 1 / 2 / 1 / 6;
}

main {
    background-color: $shadow;
    grid-area: 2 / 2 / 4 / 3;
}

footer {
    background-color: $shadow;
    grid-area: 5 / 2 / 4 / 3;
}

aside {
    overflow-y: auto;
    grid-area: 1 / 1 / 5 / 2;
    background-color: $white;
}

.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr 1fr 60px;
}

.aside_open {
    animation: menu-animation_open $animationFast ease-in-out forwards;
}

.aside_close {
    animation: menu-animation_close $animationFast ease-in-out forwards;
}

@keyframes menu-animation_open {
    from { width: 80px;}
    to { width: 280px;}
}

@keyframes menu-animation_close {
    from { width: 280px;}
    to { width: 80px;}
}