@import '../../style/colors.scss';

.password-container {
    display: flex;
}

.input {
    outline: none;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.input-text {
    padding: 0 4px;
    min-height: 24px;
    border-radius: 4px;
    background-color: $blueOpacity;
    border: 1px solid $blackOpacity;
}