@import '../../style/colors.scss';

.password-container {
    display: flex;
}

.input {
    outline: none;
    margin: 5px 0;
}

.input-container {
    width: 250px;
    display: flex;
    align-items: center;
}

.input-flex {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    background-color: $blueOpacity;
    border: 1px solid $blackOpacity;
}

.input-text {
    padding: 0 4px;
    min-height: 24px;
    border-radius: 4px;
    border: 1px solid $blackOpacity;
}